@{
    ViewBag.Title = "Kierownik";
}
<div class="container">
    <div class="bgc">
        <div class="row">
            <div class="col-12">
                <strong>
                    <span class="TextLuna">Luna Express</span>
                </strong>
                <span class="PanelText">
                    Witaj w panelu zarządzania
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 marEntry">
                <span class="textEntry"> 
                    System zarządzania restauracja z jedzeniem na wage
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid FluidColor">
    <div class="container">
        <div class="row">
            <div class="col-1" style="bottom:35px;left:45px">
                <div class="halCIrcle"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="text-align:center">
                <div>
                    <strong>
                        <span style="font-size:36px">
                            Kierownik
                        </span>
                    </strong>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-12">
                <div>
                    <strong>
                        <span style="font-size:20px">
                            Wybierz Opcje:
                        </span>
                    </strong>
                </div>
            </div>
        </div>

        <div class="row marg400200" >
            <div class="col-1">
                <div class="numberCircle">
                    1
                </div>
            </div>

            <div class="col-11 moveText">
                <strong>
                    <span>
                        Zarządzaj promocjami
                    </span>
                </strong>
                <br />
                <span>
                    Tutaj możesz zarządzać wszystkim promocjami dodawać nowe, edytować lub usuwać już istniejące.
                </span>
            </div>
        </div>

        <div class="row pad70bot mar-top50">
            <div class="col-1">
                <div class="numberCircle">
                    2
                </div>
            </div>

            <div class="col-11 moveText">
                <strong>
                    <span>
                        Zarządzaj raportami
                    </span>
                </strong>
                <br />
                <span>
                    Tutaj możesz zarządzać wszystkimi raportami dodawać nowe, przeglądać, edytować, usuwać lub drukowac istniejące
                </span>
            </div>
        </div>

    </div>
</div>