
@{
    ViewBag.Title = "Otworz";
}

<h2>Otworz</h2>
@*@using (Html.BeginForm("", "", FormMethod.Post))
    {*@
<div class="container-fluid" style="background-color:#dadada">
    <div class="container">
        <div class="row">
            <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                <span style="font-size:36px"><strong>Rachunek!</strong></span>
            </div>
        </div>
        <table>
            <tr style="border-bottom:1px solid black;text-align:center;padding-bottom:10px;">
                <td style="width:15%;border-right:1px solid black">
                    @*<strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().IdRachunku)</strong>*@
                    <strong><span>Numer Pozycji</span></strong>
                </td>
                <td style="width:40.3333%;border-right:1px solid black">
                    @*<strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().Wysokosc)</strong>*@
                    <strong><span>Waga(g)</span></strong>
                </td>
                <td style="width:45.3333%;border-right:1px solid black">
                    @*<strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().DataRachunku)</strong>*@
                    <strong><span>Cena(3.49zl/100g)</span></strong>
                </td>
            </tr>
            <tr>
                <td class="center">
                    <input type="text" class="form-control waga" value="0" name="masa" id="waga1" />
                </td>

                <td>
                    <input type="text" placeholder="Cena" id="cena1" class="form-control" />
                </td>

                <td>
                    <button></button>
                </td>

            </tr>
        </table>
        <div class="row">
            <div class="col-12" style="float:right;">
                <div class="row">
                    <div style="width:49.3333%">

                    </div>

                    <div style="float:right;border-top:1px solid black">
                        <span>Suma:</span>
                        <input type="number" id="suma12" style="background-color:transparent;border:none;width:70px" value="0" disabled />zł
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*}*@
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script>
        var tables = document.getElementsByTagName('table');
        var table = tables[tables.length - 1];
        var rows = table.rows;
        for (var i = 0, td; i < rows.length; i++) {
            if (i != 0)
            {
                td = document.createElement('td');
                td.appendChild(document.createTextNode(i));
                rows[i].insertBefore(td, rows[i].firstChild);
            }

        }
        $(document).ready(function () {

            if ("tr:last") {
                $('button').addClass("btn btn-primary");
                $('button').attr("id", 'poz');
                $('button').html('Dodaj pozycję');


            }
            $('#poz').on('click', myFun());

            $("body").on("focusout", ".waga", function () {
                var ide = $(this).attr("id");
                var lastChar = ide.substr(ide.length - 1);
                if (ide.length > 5) {
                    var lastChar = ide.substr(ide.length - 2);

                }
                else if (ide.length > 6) {
                    var lastChar = ide.substr(ide.length - 3);
                }
                else {
                    var lastChar = ide.substr(ide.length - 1);
                }
                $("#cena" + lastChar).val($(this).val() * 3.49 / 100);
                var suma = 0;
                $("input[name=masa]").each(function () {

                    suma = (suma + parseFloat($(this).val() * (3.49 / 100)));

                });
                $("#suma12").val(suma.toFixed(2));

            });

            $("body").on('change', "#sel", function () {
                var suma = 0;
                $("input[name=masa]").each(function () {

                    suma = (suma + parseFloat($(this).val() * (3.49 / 100)));

                });
                if ($(this).val() != 1)
                {
                    var c = suma * $(this).val() / 100;
                    var d = suma - c;
                }
                else
                {
                    var d = suma;
                }

                $("#suma12").val(d.toFixed(2));
            });

        });
        function myFun() {
           var c = $('<input type="text" placeholder="Cena" class="form-control" id="cena' + (rows.length - 1) + '"/>')
            $('select').replaceWith($(c));
            $('<tr><td>' + rows.length + "</td></tr>").insertAfter("tr:last");
            var r = $('<td class="center"><input type="button" id="poz' + (rows.length - 1) + '"  onClick="myFun()" class="btn btn-primary" value="Dodaj pozycję"/></td>');
            var v = $('<td><select id="sel" class=form-control><option value=1>Brak Rabatu</option><option value=30>Studencki</option><option value=25>Wieczorna</option></select></td>');
            var w = $('<td><input type="text" value="0" name="masa" id="waga' + (rows.length - 1) + '"  class="form-control waga " " /></td>')

            $(w).insertAfter("td:last");
            $(w).addClass("waga");
            $(v).insertAfter("td:last");
            $(r).attr('id', 'poz');
            $(r).insertAfter("td:last")
            $('#poz').removeClass('btn btn-primary');
            $('#poz').addClass('btn btn-danger btn-block');
            $('#poz').html('Usuń')
            $('#poz').removeAttr('id');







        }


    </script>

}
