

    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top:4.5%;text-align:center">
                <h3>Witaj w systemie zarządzania restauracją!</h3>
            </div>
        </div>
        <div class="jumbotron" style="margin-top:4.5%">
            <div class="row">
                <div class="col-6" >
                    <button style="float:right" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Kierownik", "Login") + "'");">Logowanie Kierownik</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Kasjer", "Login") + "'");">Logowanie Kasjer</button>
                </div>
            
            </div>
        </div>
     </div>
 

